<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- StatPro Revolution OAuth2 Server details -->
    <add key="OAuth2Server_AuthorizationEndpoint" value="https://revapiaccess.statpro.com/OAuth2/Authorization" />
    <add key="OAuth2Server_TokenEndpoint" value="https://revapiaccess.statpro.com/OAuth2/Token" />
    
    <!-- Client application registration details -->
    <add key="ClientApp_PublicId" value="client_id_removed" />
    <add key="ClientApp_Secret" value="client_secret_removed" />
    <add key="ClientApp_RedirectUri" value="redirect_uri_removed" />
    
    <!-- Space-delimited list of the scope identifiers of the Revolution resource servers (aka APIs) that this app
         wants access to. -->
    <add key="RevolutionResourceServers" value="RevolutionWebApi"/>

    <!-- The Web API's entry-point address. -->
    <add key="WebApiEntryPointUri" value="https://revapi.statpro.com/v1"/>

    <!-- The Web API's URI that returns information about the requestable measures from the Segments Tree Node
         resource.  By default this endpoint returns HTML.  Including request header "Accept: application/json"
         will cause it to return JSON; "Accept: application/xml" causes it to return XML.
    -->
    <add key="WebApiSegmentsTreeMeasuresUri" value="https://revapi.statpro.com/v1/apidocs/measures/segmentsTreeNode"/>

    <!-- The Web API's URI that returns information about the requestable measures from the Time Series
         resource.  By default this endpoint returns HTML.  Including request header "Accept: application/json"
         will cause it to return JSON; "Accept: application/xml" causes it to return XML.
    -->
    <add key="WebApiTimeSeriesMeasuresUri" value="https://revapi.statpro.com/v1/apidocs/measures/timeSeries"/>

    <!-- Increment this number to force the browser to pull new versions of JavaScript and CSS files (non-DEBUG
         builds only). -->
    <add key="StaticFileVersionNumber" value="4"/>

    <!-- Space-delimited list of names of .NET cultures that the user can use for exporting data (e.g. CSV data). -->
    <add key="ExportCultures" value="en-US en-GB af-ZA bg-BG ca-ES cs-CZ da-DK de-DE el-GR es-ES es-US fa-IR fi-FI fr-FR fr-CA he-IL hr-HR hu-HU id-ID it-IT ja-JP ko-KR lt-LT lv-LV mk-MK nl-NL nb-NO nn-NO pl-PL pt-BR pt-PT ro-RO ru-RU sk-SK sl-SI sr-Latn-CS sr-Cyrl-CS sv-SE th-TH tr-TR uk-UA vi-VN zh-CN zh-TW"/>
  </appSettings>

  <system.net>
    <!-- Ensures we have no problem with authenticating proxy servers. -->
    <defaultProxy useDefaultCredentials="true" />
  </system.net>

  <system.web>
    <!-- enableVersionHeader: for security we disable the X-AspNet-Version version header. -->
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" />

    <!-- Imperative to set a machine key when using the AntiForgeryToken attribute. -->
    <machineKey validation="HMACSHA256" decryption="AES" validationKey="validation_key_removed" />

    <sessionState timeout="30" />

    <compilation debug="true" targetFramework="4.5" />

    <customErrors mode="Off" />

    <httpCookies httpOnlyCookies="true" requireSSL="false" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <!-- If the webserver has handler mappings for "*." to the ExtensionlessUrlHandler, and SP1 for
         Windows Server 2008 R2 is installed, then we don't need to run all managed modules for all requests. -->
    <modules runAllManagedModulesForAllRequests="false">
    </modules>
    
    <httpProtocol>
      <customHeaders>
        <!-- Explicitly remove the X-Powered-By response header -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
