<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- Contents removed for security -->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpCookies xdt:Transform="SetAttributes" requireSSL="true" />

    <customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
  </system.web>
</configuration>
