<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="WebApiExplorer Rules" Description="All Microsoft rules, with the exceptions of CA1054, CA1056, CA1704 and CA1709." ToolsVersion="11.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
</RuleSet>